/* Estilos para el pie de página */
footer {
    font-size: 4rem;  /* Tamaño de fuente grande para el pie de página */
    background-color: var(--primary);  /* Color de fondo utilizando la variable --primary */
    width: 100%;  /* Ancho del 100% para ocupar todo el ancho disponible */
    min-height: 7rem;  /* Altura mínima del pie de página */
    display: flex;  /* Configura el contenedor principal como flexible */
    justify-content: center;  /* Centra los elementos horizontalmente */
    align-items: center;  /* Centra los elementos verticalmente */
    flex-direction: column;  /* Configura la dirección del diseño como columna */
    margin-top: 8rem;  /* Margen superior grande para separar el pie de página del contenido superior */
}

/* Estilos para el contenedor dentro del pie de página */
.container {
    display: flex;  /* Configura el contenedor como flexible */
    justify-content: space-around;  /* Espacio uniformemente distribuido entre los elementos secundarios */
    align-items: center;  /* Centra los elementos verticalmente dentro del contenedor */
    width: 100%;  /* Ancho del 100% para ocupar todo el ancho disponible */
}

/* Estilos para el contenedor de elementos sociales dentro del pie de página */
.container__social {
    display: flex;  /* Configura el contenedor de elementos sociales como flexible */
    gap: 2rem;  /* Espacio entre los elementos sociales */
}

/* Estilos para el logo dentro del contenedor de elementos sociales */
.container__social__logo {
    width: 2rem;  /* Ancho fijo para el logo */
}

/* Estilos para la imagen dentro del logo en el contenedor de elementos sociales */
.container__social__logo__img {
    width: 100%;  /* Ancho del 100% para ocupar todo el espacio disponible */
    height: 100%;  /* Altura del 100% para ocupar todo el espacio disponible */
}