/* Estilo para la barra de navegación en la parte superior */
.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  background-color: var(--primary);
  color: #FFF;
  height: 50px;
  padding: 0 6em;
}

/* Estilo para el menú de navegación */
.menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 3rem;
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.menu > li {
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: var(--primary);
}
.menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
}
/* Estilo para el contenedor del botón del menú */
.menu-button-container {
  display: flex;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Estilo para el botón del menú (hamburguesa) y sus efectos de animación */
#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

/* Efectos de animación al hacer clic en el botón del menú */
#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

#menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

#menu-toggle:checked ~ .menu li {
    border: 1px solid var(--primary);
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
/* Estilos aplicados cuando la pantalla tiene un ancho mínimo de 576px */
@media screen and (min-width: 576px) {
    
    /* Ajustes para la barra de navegación */
    .header__nav {
        flex-direction: row; /* Cambia la dirección de flexión a fila */
        justify-content: center; /* Centra los elementos horizontalmente */
    }

    /* Espaciado para los enlaces de navegación */
    .header__nav__link {
        margin-left: 2rem;
    }
}

/* Estilos específicos para pantallas más grandes (min-width: 1000px) */
@media screen and (min-width: 1000px) {
    /* Mostrar el contenedor del botón del menú en pantallas más pequeñas */
    .menu-button-container {
      display: none;
    }
    /* Estilo del menú en pantallas más más pequeñas */
    .menu {
      flex-direction: row;
      margin-top: 0;
    }
  
    /* Transiciones para el despliegue del menú en pantallas más pequeñas */
  
    #menu-toggle:checked ~ .menu li {
      border: 1px solid var(--primary);
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
  
    /* Estilos específicos para cada elemento del menú en pantallas más pequeñas */
    .menu > li {
      margin: 0 1rem;
    }
    #menu-toggle ~ .menu li {
      height: auto;
    }
}