footer{
    font-size: 4rem;
    background-color: var(--primary);
    width: 100%;
    min-height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}