footer{
    font-size: 4rem;
    background-color: var(--primary);
    width: 100%;
    min-height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 8rem
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.container__social{
    display: flex;
    gap: 2rem;
}
.container__social__logo{
    width: 2rem;
}
.container__social__logo__img{
    width: 100%;
    height: 100%;
}