/* Defino el grow del main*/
main{
    flex-grow: 1;
}
h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 4rem;
}
section{
    width: 100vw;
    padding: 3rem 0;
}
.hero{
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem 0;
    background:aliceblue;;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.hero__container{
    width: 70%;
    margin-bottom: 4rem;
}
.hero__container__img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.hero h1{
    font-size: 3rem;
}
.hero h3{
    font-size: 80%;
}
.hero__social{
    margin-top: 2rem;
    width: 5rem;
}
.hero__github_logo{
    width: 100%;
}
.hero a{
    text-decoration: none;
    color: var(--secondary);
}
#skills{
    background-color: var(--primary);
    padding: 4rem 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

.skills__galery{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    width: 80%;
}
.skills__galery__element{
    
    flex-basis: 12rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.skills__galery__element__icon{
    width: 5rem;
}
.skills__galery__element__icon img{
    width: 100%;
    height: 100%;
}
.skills__galery__element__title{
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
}
.skills__design--progress {
	width: 100%;
	height: 10px;
	background-color: lightcyan;
    border-radius: 20px;
	position: relative;
}

.skills__galery__element:hover .skills__design--progress__1,
.skills__galery__element:active .skills__design--progress__1 {
	display: block;
	height: 100%;
    border-radius: 20px;
	animation: progressAnimation1 1s linear forwards;
}

@keyframes progressAnimation1 {
	0% {
		width: 0;
        background-color: red;
	}
    50%{
        background-color: orange;
    }
	100% {
        background-color: green;
		width: 90%;
        border-radius: 20px;
	}
}

/*PROJECTS*/
#projects{
    width: 100%;
}
/*start section slider + buttons*/
#projects .projects__slider{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
}
/*start details buttons*/
#projects button{
    background-color: transparent;
    height: 200px;
    border: none;
}
#projects button img{
    width: 10rem;
}
#projects button:hover{
    cursor: pointer;
}


/*start details slider*/
#projects .projects__slider .slider-container {
    width: 200px;
    overflow: hidden;
}
/*Animation */
#projects .projects__slider .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

#projects .projects__slider .slide {
    min-width: 100%;
    box-sizing: border-box;
}

/*PROJECT CARD*/
.skill-card a{
    text-decoration: none;
    color: var(--secondary);
}
.skill-card {
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    
    width: 100%;
    background-color: #FFF;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    cursor: pointer;
}
.skill-card h2{
    text-align: left;
    max-width: 180px;
}
.skill-card:hover,
.skill-card:active {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.skill-card:hover .skill-card__header,
.skill-card:active .skill-card__header  {
    height: 10rem;
}
.skill-card:hover .skill-card__header .skill-card__icon,
.skill-card:active .skill-card__header .skill-card__icon {
transform: translateX(-50%) translateY(-50%) scale(3);
}
.skill-card:hover .skill-card__body,
.skill-card:active .skill-card__body  {
min-height: 20rem;
}
.skill-card:hover .skill-card__body .skill-card__knowledge li,
.skill-card:active .skill-card__body .skill-card__knowledge li  {
transform: translateX(0);
transition-timing-function: cubic-bezier(0, 1.5, 1, 1);
transition-duration: 0.5s;
}
.skill-card:hover .skill-card__body .skill-card__knowledge li:nth-child(1) ,
.skill-card:active .skill-card__body .skill-card__knowledge li:nth-child(1){
transition-delay: 0.25s;
}
.skill-card:hover .skill-card__body .skill-card__knowledge li:nth-child(2), 
.skill-card:active .skill-card__body .skill-card__knowledge li:nth-child(2){
transition-delay: 0.5s;
}
.skill-card:hover .skill-card__body .skill-card__knowledge li:nth-child(3),
.skill-card:active .skill-card__body .skill-card__knowledge li:nth-child(3) {
transition-delay: 0.75s;
}
.skill-card:hover .skill-card__body .skill-card__knowledge li:nth-child(4),
.skill-card:active .skill-card__body .skill-card__knowledge li:nth-child(4) {
transition-delay: 1s;
}
.skill-card:hover .skill-card__body .skill-card__knowledge li:nth-child(5),
.skill-card:active .skill-card__body .skill-card__knowledge li:nth-child(5) {
transition-delay: 1.25s;
}
.skill-card:hover .skill-card__body .skill-card__knowledge li:nth-child(6),
.skill-card:active .skill-card__body .skill-card__knowledge li:nth-child(6) {
transition-delay: 1.5s;
}
.skill-card .skill-card__header {
position: relative;
background-color: #EFD81D;
height: 17rem;
transition: height 0.5s;
overflow: hidden;
z-index: 0;
}
.skill-card .skill-card__header .skill-card__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    display: block;
    width: 50rem;
    height: auto;
    transition: transform 0.5s;
}
.skill-card .skill-card__body {
height: 15rem;
transition: height 0.5s;
overflow: hidden;
}
.skill-card .skill-card__body .skill-card__title {
font-size: 1.4em;
font-weight: 600;
text-transform: uppercase;
}
.skill-card .skill-card__body .skill-card__duration {
color: #9E9E9E;
font-style: italic;
}
.skill-card .skill-card__body .skill-card__knowledge {
margin-top: 10px;
color: #424242;
}
.skill-card .skill-card__body .skill-card__knowledge li {
margin-top: 5px;
transition-duration: 0;
transition-delay: 0.5s;
transform: translateX(-100%);
}
/*Repository*/
.repositorio{
    display: flex;
    align-items: center;
}
.repositorio .repositorio__icon{
    width: 10%;
    height: auto;
}
.repositorio img{
    width: 100%;
    height: 100%;
}


/* BELIEFS */
#beliefs{
    width: 100%;
}
#beliefs__content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    gap: 3rem;
}
.beliefs__content__article{
    border: 1px solid var(--primary);
    padding: 2rem;
    border-radius: 5px;
    max-width: 60%;
}
.beliefs__content__article h3{
    font-size: 2rem;
    font-weight: 700;
}
.beliefs__content__article p{
    font-size: 2rem;
}


/*ABOUT ME*/
#aboutMe{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: var(--primary);
    gap: 3rem;
}
.aboutMe__content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
}
.aboutMe__content__img{
    width: 70%;
    height: auto;
}
.aboutMe__content__img img{
    width: 100%;
    height: 100%;
}
.aboutMe__content__text{
    width: 70%;
    font-size: 4rem;
}
.aboutMe__content__text__p{
    margin-top: 2rem;
}


/*Contact*/
#contact{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact form{
    padding: 30px 0 0 0;
}
#contact form .form-row{
    display: flex;
    margin: 32px 0;
}
form .form-row .input-data{
    width: 100%;
    height: 40px;
    margin: 0 20px;
    position: relative;
}
form .form-row .textarea{
    height: 70px;
}
#contact .input-data input, .textarea textarea{
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid var(--primary);
}
#contact .input-data input:focus ~ label, .textarea textarea:focus ~ label,
#contact .input-data input:valid ~ label, .textarea textarea:valid ~ label{
    transform: translateY(-23px) translateX(10px);
    font-size: 14px;
    color: var(--letra);
    background-color: #fff;
    padding-right: 2px;
    padding-left: 2px;
}
#contact .textarea textarea{
    resize: none;
    padding-top: 10px;
}
#contact .input-data label{
    position: absolute;
    pointer-events: none;
    bottom: 10px;
    font-size: 16px;
    transition: all 0.3s ease;
}
#contact .textarea label{
    bottom: 40px;
    background: #fff;
}
.input-data .underline{
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
}
.input-data .underline:before{
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    background: var(--letra);
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}
    .input-data input:focus ~ .underline:before,
    .input-data input:valid ~ .underline:before,
    .textarea textarea:focus ~ .underline:before,
    .textarea textarea:valid ~ .underline:before{
    transform: scale(1);
}
.submit-btn .input-data{
    overflow: hidden;
}
.submit-btn .input-data button{
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    background: linear-gradient(#56d8e4, #9f01ea);
    transition: all 0.4s;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.5rem;
}