@media screen and (min-width : 576px){
    .header__nav{
        flex-direction: row;
        justify-content: center;
    }
    .header__nav__link{
        margin-left: 2rem;
    }
    .hero__container{
        width: 20% !important;
    }
    .repositorio__icon{
        width: 3% !important;
    }
    .aboutMe__content{
        display: flex ;
        flex-direction: row !important;
        width: 80%;
    }
    .aboutMe__content__img{
        width: 40% !important;
    }
}